node_modules
dist
dist-ssr
*.local
.env
.env.local
.vscode/*
.idea
*.log

# Backend
server/dist
server/node_modules
server/.env

# Prisma generated client
server/node_modules/.prisma

# Test coverage
coverage
server/coverage
